<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{title}}</span>
  </div>
  <div fxHide.lt-md>
    <a class="brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span translate>Home</span>
    </button>

    <button mat-button routerLink="/pos" routerLinkActive="active">
      <mat-icon></mat-icon>
      <span translate>POS</span>
    </button>

    <button mat-button routerLink="/expense" routerLinkActive="active">
      <span translate>
        <i class="fa fa-usd"></i> Expense</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>About</span>
    </button>
    <button mat-button routerLink="/sales" routerLinkActive="active">
      <mat-icon>sales</mat-icon>
      <span translate>
        <i class="fa fa-ticket"></i>Sales</span>
    </button>
    <button mat-button routerLink="/products" routerLinkActive="active">
      <mat-icon>products</mat-icon>
      <span translate>products</span>
    </button>

    <div class="btn-group">
      <button mat-button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bookmark" style="font-size:14px;"></i>Categories
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a routerLink="/categories" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a routerLink="/categories" routerLinkActive="active">Expenses</a>
        </li>
      </ul>
    </div>

  </div>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
      {{language}}
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;
        <b>{{username}}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar>