.header{
     background-color:#18293d;
     margin-top: -25px;
     padding: 15px;
     margin-left: -25px;
     margin-right: -25px;
     margin-bottom : 5px ;
     color:#fff ;
     font-size:14px; 
     line-height:1.4285;
}
.header.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 15px;
}
