
<h1 mat-dialog-title>
    <div class="header">
        <h5> Add Expence </h5>
        <button class="close" mat-dialog-close aria-label="Close" type="button" data-dismiss="modal" style="margin-top:-30px;">
          <span aria-hidden="true">×</span>
        </button>
      </div>
</h1>

<form>
    <div class="form-group controls">
      <label for="Date">Date *</label>
      <input type="text" maxlength="30" Required name="date" class="form-control" id="Date" placeholder="Date">
    </div>
  
    <div class="form-group">
      <label for="Reference">Reference *</label>
      <input type="text" name="reference" maxlength="20" Required class="form-control" id="Reference" placeholder="Reference">
    </div>
    
    <div class="form-group">
      <label for="Category">Category</label>
      <select class="form-control" name="category" id="Category">
        <option value="0">Category1</option>
        <option value="1">Category2</option>
        <option value="2">Category3</option>
        <option value="4">Category4</option>
        <option value="5">Category5</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="store_id">Store</label>
      <input type="text" value="Tienda Demo" class="form-control" id="store_id" disabled>
      <input type="hidden" value="1" name="store_id">
    </div>
    <div class="form-group">
      <label for="Amount">Amount (INR) *</label>
      <input type="number" step="any" Required name="amount" class="form-control" id="Amount" placeholder="Amount">
    </div>
  
    <div class="form-group">
      <label for="exampleInputFile">Attachment</label>
      <br>
      <input type="file" name="userfile" id="attachment">
      <p class="help-block">Accepted files(imag,.pdf,.doc,.xls,.zip) Max size: 2Mb</p>
    </div>
    <div class="form-group">
      <textarea id="summernote" name="note" rows="8" cols="60" style="margin-left:-5px; margin-right:-10px ;"></textarea>
    </div>
    
  </form>
<mat-dialog-actions>
    <div  style="  padding:15px;text-align:  right;">
        <button type="button" class="btn" data-dismiss="modal" style="color:#333;background-color: #fff;
        border-color: #ccc;" mat-dialog-close>Close</button>
        <button type="submit" class="btn" style="margin-left: 5px;background-color: #34495e ;
        color: #fff;">Submit</button>
      </div>
</mat-dialog-actions>

