<div class="row">
  <div class="col-md-6">col1</div>

  <div class="col-md-6 right-col">
    <div class="row categories-filter">
      <div class="col-12">
        <div class="row">
          <button class="categories home-btn">
            <i class="fa fa-home"></i>
          </button>
          <button class="categories">COMPUTERS</button>
          <button class="categories">CLOTHES</button>
          <button class="categories">SERVICES</button>
          <button class="categories">FRUITS</button>
        </div>
      </div>
    </div>
  </div>

</div>