.left-side {
    background-color: #ecf0f1;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 150px;
    border: 3px solid white;
}

h2 {
    font-size: 1.8em;
    font-weight: bolder;
    margin-left: 30px;
}

.barcode{
    margin-left: 30px;
}

.col-xs-5 {
    width: 41.66%;
}

.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66%;
}
.table-header h3 {
    font-weight: 700;
    font-size: 1em;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}


