.left-side {
    background-color: #ecf0f1;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 150px;
    border: 3px solid white;
}

h2 {
    font-size: 1.8em;
    font-weight: bolder;
    margin-left: 30px;
}

.barcode{
    margin-left: 30px;
}
