<div class="row">
  <div class="col-md-6 left-col">col1</div>

  <div class="col-md-6 right-col">
    <div class="row">
      <div class="col-12">
        <div class="row categories-filter">
          <button class="categories home-btn">
            <i class="fa fa-home"></i>
          </button>
          <button class="categories">COMPUTERS</button>
          <button class="categories">CLOTHES</button>
          <button class="categories">SERVICES</button>
          <button class="categories">FRUITS</button>
        </div>
        <hr>

        <div class="input-group">
          <input type="text"  class="form-control search" id ="search" placeholder="Search">
          <span class="search-icon">
            <button type="submit" class="search-btn">
              <span class="fa fa-search"></span>
            </button>
          </span>
        </div>

      </div>
    </div>
  </div>

</div>