.main-row{
    margin-right: 10px;
    margin-left: 10px;
}

.right-col{
    background-color:#ecf0f1;
    border: 3px solid white;
    border-radius: 5px;  
    overflow: hidden;
    margin-top:10px;
    padding: 0;

}

.left-col{
    margin-top: 10px;  
    background-color: #ecf0f1;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 5px; 
}

.categories-filter{
   margin-top: 10px; 
   margin-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   flex-wrap: unset;
   overflow-x: scroll;
   overflow-y: hidden;
   margin: 0 10px;
}



.categories{
    background-color: #E2E2E2;
    border-radius: 3px;
    border-bottom: 3px solid #6EC89B;
    margin-right: 5px;
    padding: 5px 10px;
}

.home-btn{
    margin-left: 10px;
    color: #6B6B6B;
}


.categories-filter button:hover{
    
    background-color: #6B6B6B;
    color: #E2E2E2;
    border-bottom: 3px solid #f65e48;
}




.search{
    margin: 10px;
}

  .search-icon{
     background-color: #fff;
     margin-right: 10px;
     border: 1px solid #ccc;
     border-left: none;
     padding: 5px;
  }

  .search-btn{
    background-color: transparent;
    border:none;
     
      
  }

  .search-input{
      border-right: none;
  }


