
<div class="container">
  <h3>Sales</h3>
  <br />
  <br />
  <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.name}}
    </li>
  </ul>
  
  <!-- show -->
  <div class="show">
    <label>Show
      <select>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select> entries
    </label>

    <!--search -->
    <div class="search">
      <label>Search:
        <input type="text">
      </label>
    </div>

  </div>

  <!-- sales table -->

  <table class="table table-striped table-bordered" id="myTable">
    <thead>
      <tr>
        <th>Number</th>
        <th>Custumer</th>
        <th>Tax(%)</th>
        <th>Discount </th>
        <th>Total</th>
        <th>Created By</th>
        <th>Total Items</th>
        <th>Status</th>
        <th>Action</th>
      </tr>

    </thead>
    <tbody>
      
        <tr *ngFor="let item of salesItems ">       
         <td>{{item.number}}</td>
        <td>{{item.custumer}}</td>
        <td>{{item.tax}}</td>
        <td>{{item.discount}}</td>
        <td>{{item.total}}</td>
        <td>{{item.createdBy}}</td>
        <td>{{item.totalItems}}</td>
        <td>
          <span class="paid">{{item.status}}
            <span></span>
          </span>
        </td>
        <td>
          <a class="btn btn-primary dropdown-toggle " href="# " data-toggle="dropdown ">
              <i class="fa fa-cog fa-fw "></i> Action
              <span title="Toggle dropdown menu "></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>