
                .search {
                    //margin: 15px;
                    margin-left: 664px;
                    text-align: right; 
                    display: inline-block
                 }
                 .show {
                    margin: 15px;
                    text-align: left; 
                    display: inline-block

                 }