.container{
    margin: 5vw;
}
.show-entites{
    text-align: right;
}

  button {
    background-color: gray ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} 
